# dependencies
/node_modules
/.pnp
.pnp.js
/graphql/node_modules

# testing
/coverage

# production
/build
*.db-wal
*.db-shm
# misc
.DS_Store
.env
/graphql/.env
.env.local
.env.development.local
.env.test
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OSM data
osm-data/texas.geojson
osm-data/texas-latest.osm.pbf

# Graphql data
/graphql/data